<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
  
      <div class="jumbotron text-center border-bottom">
        <h1 class="font-weight-bold">Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="../scrape" role="button">Scraped Data</a></p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2><u>Latest Mars News</u></h2>
        </div>
      </div>
    <br>
      <div class="row">
        <div class="col-md-12">
          <h4>{{mars.news_title}}</h4>
          <p>{{mars.news_p}}</p>
        </div>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 border">
        <h2 class=""><u>Featured Mars Image</u></h2> 
        <br>
        <img src="{{mars.featured_image_url}}" alt="Featured Mars Image">
      </div>
      <div class="col-md-4">
        <div class="border">
          <br>
          <h3>Current Mars Weather</h3>
          {{mars.mars_weather}}
        </div>
        <br>
        <div class="border">
          <h4>Mars Facts</h4>
            {{ mars.mars_facts_table | safe }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-4">
        <h2 class="align-items-center"><u>Mars hemispheres</u></h2>  
      </div>
    </div>
    <br>
    <div class="row">       
            {% for hemisphere in mars.hemisphere_img %} 
              <div class="col-6 border">
              <br>
                    <div>
                      <img width="600 px" height="600 px" src="{{ hemisphere.img_url | safe }}">
                    </div>

                    <div>
                      <h4> {{ hemisphere.title | safe }} </h4>  
                    </div>
            
              </div>
            {% endfor %}
    </div> 
   





</body>
</html>

